<header>
  <img class="profile-pic" src="/assets/img/reub_square.png" />
  <div class="profile-info">
    <h1 class="resume-title">Reuben Jones</h1>
    <h2 class="job-title">Web guy</h2>
  </div>
  <div class="profile-info">
    604 760 2960<br />
    <a href="mailto:mrreubenjones@gmail.com">mrreubenjones@gmail.com</a>
  </div>
  
</header>

<div class="statement">
  <p>When I was little, it was obvious to me that I'd grow up to be Indiana Jones&mdash;I wanted adventure and we had the same name. Turns out that with all the time I spend at my computer I'm more like <a href="https://www.wired.com/2013/04/the-net-movie-technology/">Sandra Bullock in The Net</a>.*<p>
</div>
<div class="experience">
<h2>Adventures</h2>

<p>Built the product team research program at Chimp Technology (2013-2016)</p>
<ul>
  <li>Introduced a culture of usability testing and customer driven research to the development and product teams</li>
  <li>Implemented the use of a series of research methodologies, including customer interviews, usability testing, heuristic reviews, surveys, tree testing, and card sorting</li>
  <li>Fielded product feedback both internally and externally, and installed systems for triaging product feedback</li>
</ul>
<p>Designed the Peer Giving Solutions app from scratch (2009-2013)</p>
<ul>
  <li>Led product design for the company, primarily around the development of a peer-to-peer fundraising and storytelling platform</li>
  <li>Designed a content management and donations payment and receipting system</li>
  <li>Developed content strategy, both for the product as well as client theming and copywriting</li>
</ul>
<p>Founded and Managed Water Street Arts Society (2010-2013)</p>
<ul>
  <li>Recruited tenants and managed ongoing occupancy requirements</li>
  <li>Managed financials, streamlining budgets to remain cashflow positive</li>
  <li>Planned events for publicity and additional revenue streams</li>
</ul>
</div>
<div class="employment">
<h2>Employment History</h2>

<p>User Experience Researcher at Chimp Technology	2013 - 2016</p>
<p>UI Designer and Product Owner at Peer Giving Solutions	2009 - 2013</p>
<p>UI Designer and Front End Developer at GiveMeaning	2006 - 2008</p>
<p>UI Designer and Front End Developer at MobileLabs	2004 - 2005</p>
</div>
<div class="education">
<h2>Education</h2>

<p>Full Stack Web Development Bootcamp at CodeCore Vancouver</p>
<p>Scrum Product Owner Certification from SolutionsIQ</p>
<p>Bachelor of Communications Studies at Auckland University of Technology</p>
<p>Diploma Performing Arts at Excel School of Performing Arts</p>
</div>
<div class="skills">
<h2>Skills</h2>

<p>CSS3, HTML5, JavaScript, jQuery, AJAX, Ruby on Rails, Node.js, React</p>
<p>Git and Github</p>
<p>Express, MongoDB and JSON</p>
<p>Product copywriting</p>
<p>Agile/Scrum methodology, Lean methodology</p>
</div>

<div class="footnote">
  <p>*In that I love my pizza, and over-share online.</p>
</div>